/* import fonts from fonts.css file */

@import url(./fonts.css);

/* start navigation */
.header_area .main-menu .navbar .navbar-brand{
    padding: 0 2rem 0 5rem;
}


.header_area .main-menu .navbar {
    padding: 10rem 20rem;
}

.header_area .main-menu .nav-item .nav-link {
    font-family: 'Courier New', Courier, monospace;
}
  

/* end navigation */

img {
    border-radius: 50%;
  } 

  .button {
    font-family: "Montserrat", "Quicksand", sans-serif;
    letter-spacing: 0.3em;
    text-transform: uppercase;
  }
  .button,
  .social a {
    transform-origin: center;
    transition-duration: 100ms;
  }
  .button {
    background-color: #fff;
    border-radius: 290486px;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    color: #9013fe;
    display: inline-block;
    font-size: 0.8rem;
    line-height: 1;
    padding: 1.2em 2em;
    text-shadow: none;
    transition-property: box-shadow, transform;
    user-select: none;
    vertical-align: top;
    white-space: nowrap;
    will-change: box-shadow, transform;
  }
  .button:hover {
    box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.2);
    transform: scale(1.02) translateY(-4px);
  }
  
  .button:active {
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
      transform: scale(0.98) translateY(-2px);
    }