/* Universal */
* {
    align-items: center;
    background-color: #e6fff2;
    /* background-image: url(****); */
    /* background-size: cover; */
    /* background-repeat: no-repeat; */

}
h2{
    color: #00ffaa;
}
body {
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 1.4;
    color: #333;
}
.classcenter{
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
    padding: 70px 0;
}

.profilePic {
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    border: 15px solid #00ffaa;
    
}
/* Items for centering image, bare in mind you will need to add a class to your image to make sure this is referenced 
Make sure to add .className { somewhere in this sheet but you will need to following properties to make sure your image is 
    centered as it was before. */

    /******* Image properties ******/
    .button {
        font-family: "Montserrat", "Quicksand", sans-serif;
        letter-spacing: 0.3em;
        text-transform: uppercase;
      }
      .button,
      .social a {
        transform-origin: center;
        transition-duration: 100ms;
      }
      
    .button {
        background-color: #fff;
        border-radius: 290486px;
        box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
        color: #00ffaa;
        display: inline-block;
        font-size: 0.8rem;
        line-height: 1;
        padding: 1.2em 2em;
        text-shadow: none;
        transition-property: box-shadow, transform;
        user-select: none;
        vertical-align: top;
        white-space: nowrap;
        will-change: box-shadow, transform;
      }
      .button:hover {
        box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.2);
        transform: scale(1.02) translateY(-4px);
      }
      
      .button:active {
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
          transform: scale(0.98) translateY(-2px);
        }
        .social {
          display: flex;
          margin-top: 1.5rem;
        }
        .social li {
          height: 2rem;
          margin-right: 0.5rem;
          text-align: center;
          width: 2rem;
        }
        .social a {
          align-items: center;
          display: flex;
          font-size: 1.5rem;
          height: 2rem;
          justify-content: center;
          opacity: 0.5;
          transition-property: opacity, transform;
          width: 2rem;
      
        }
        .social a:hover {
          opacity: 1;
          transform: scale(1.25);
        }
        .social a:active {
          opacity: 1;
          transform: scale(1.1);
        }

/* Modal Pop Up CSS */
.trigger {
    background-color: #fff;
    border-radius: 290486px;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    color: #9013fe;
    display: inline-block;
    font-size: 0.8rem;
    line-height: 1;
    padding: 1.2em 2em;
    text-shadow: none;
    transition-property: box-shadow, transform;
    user-select: none;
    vertical-align: top;
    white-space: nowrap;
    will-change: box-shadow, transform;
    box-shadow: 0 0.2rem 1.2rem rgba(0,0,0,0.2);
  }
  
  .trigger:hover {
    box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.2);
    transform: scale(1.02) translateY(-4px);
  }
  
  .button:active {
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
      transform: scale(0.98) translateY(-2px);
    }
  
  .trigger {
    font-family: "Montserrat",  "Quicksand", sans-serif;
    letter-spacing: 0.3em;
    text-transform: uppercase;
  }
  
  .trigger {
    transform-origin: center;
    transition-duration: 100ms;
  }
  
  button:active {
    /* box-shadow: 0 0 15px 0 lightgrey inset;  */
    background-color: #EBEBEB;
    transform: scale(1.15,1.15);
    transition: transform 0s ease;
  }
  
  .modal {
    position: relative;
    /*must set position: relative for the body to remain behind the modal*/
    background-color: #3D3D3D;
    max-width: 600x;
    min-width: 150px;
    padding: 15px;
    text-align: center;
    margin: -50px auto 0 auto;
    border-radius: 10px;
    z-index: 4;
    visibility: hidden;
    /* opacity: 0; */
    cursor: pointer;
    /* box-shadow: 0 0 2px 1px #fff; */
    transition: all 0.25s ease;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 1rem 1.5rem;
    width: 24rem;
    border-radius: 0.5rem;
    font-family: "Montserrat", "Quicksand", sans-serif;
  
   
  }
  
  .modal::before {
    content: '';
    /* background-color: rgba(0,0,0,0.5); */
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /*must set z-index: -1 to keep the backdrop behind the modal box*/
    z-index: -1;
  }
  
  .modalHeader{
    font-family: 'Montserrat', Verdana, Sans-Serif;
    color: #524948;
    
  }
  
  .modalText {
    font-family: 'Montserrat', Verdana, Sans-Serif;
    color: #524948;
    text-align: center;
    font-size: small;
  }
  
  .modalX {
   text-align: right;
   color: #000;
  }

  #avatar {
    width: 175px;
    border-radius: 2%;
   
  }
© 2020 GitHub, Inc.
Terms
Privacy
Security
Status
Help
Contact GitHub
Pricing
API
Training
Blog
About
