/* Universal */
* {
    background-color: #fff;
    /* background-image: url(****); */
    /* background-size: cover; */
    /* background-repeat: no-repeat; */

}

body {
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 1.4;
    color: #333;
}